ChangeLog
src/repsnapper
src/RepSnapper.log
*.o
*.lo
*.la
*.a
*~
*.tar.gz
*.tar.bz2
.deps
Makefile
Makefile.in
config.*
aclocal.m4
autogen.lastrun
autom4te.cache/
repsnapper.desktop
compile
configure
depcomp
install-sh
libtool
ltmain.sh
missing
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
m4
stamp-h1
